// _contact-method.scss

.contact-method {
	margin: 0 0 _size(element-margin) 0;
	padding-left: 3.25em;
	position: relative;
	display: flex;
	flex-direction: column;

	@include breakpoint(xsmall) {
	margin-bottom: (_size(element-margin) * 0.5);
	}

	.icon {
		left: 0;
		position: absolute;
		top: 0;
	}

	h3 {
		margin: 0 0 (_size(element-margin) * 0.25) 0;
	}

	p {
	margin: 0;
	}

}