// _footer.scss
#footer {
	padding: 0 10em;

    @include breakpoint(medium) {
        padding: 0 4em;
    }

    @include breakpoint(small) {
        padding: 0 2em;
    }

    @include breakpoint(xsmall) {
        padding: 0 1em;

        .contact-method {
            padding-left: 2.5em;

            .icon {
                font-size: 1.5em;
            }
        }
    }

	.copyright {
		font-size: 0.8em;
		list-style: none;
		padding-left: 0;
		text-align: center;

		li {
			border-left: solid 1px _palette(border);
			color: _palette(fg-light);
			display: inline-block;
			line-height: 1;
			margin-left: 1em;
			padding-left: 1em;

			&:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}

	@include breakpoint(xsmall) {
		.copyright {
			li {
				display: block;
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
				line-height: inherit;
			}
		}
	}
}